*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: gray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

header {
  width: 100vw;
  font-size: 16px;
  text-transform: uppercase;
  text-align: right;
  color: black;
  background-color: #626060;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 5px;
}

main {
  position: relative;
  top: 30px;
  width: 500px;
  margin: 2%;
}